<body>


  <div class="text-wrapper">
    <div class="title" data-content="404">
      403 - ACCESO DENEGADO
    </div>

    <div class="subtitle">
      Oops, No tienes privilegios para acceder a esta página
    </div>
    <div class="isi">
      Un servidor web puede devolver un código de estado HTTP 403 Forbidden en respuesta a una solicitud de una página
      web o recurso por parte de un cliente para indicar que el servidor es accesible y ha entendido la solicitud, pero
      que se niega a seguir adelante.
      <br />
      <br />
      Para indicar que el servidor puede ser alcanzado y entendió la solicitud, pero se niega a tomar cualquier otra
      acción.
      <br />
      <br />
      Las respuestas con código de estado 403 son el resultado de que el servidor web está configurado para
      denegar el acceso, por alguna razón, al recurso solicitado por el cliente.
    </div>

    <div class="buttons">
      <a class="button" routerLink="/home">Ir a la página de inicio</a>
    </div>
  </div>

</body>
