<div class="container-xxl" id="kt_content_container">
  <div class="card">
    <div class="card-body p-lg-20">
      <div class="mb-20">
        <h1 class="fs-2x text-gray-800 w-bolder mb-6">Centro de Ayuda</h1>
        <p class="fw-bold fs-4 text-gray-600 mb-2">
          ¡Bienvenido al Centro de Ayuda del Sistema de Facturación e Inventario!.
          Nuestro sistema de facturación e inventario ha sido diseñado para ayudarte a gestionar eficientemente tus
          procesos comerciales. A continuación, te proporcionamos información sobre las diferentes ventanas y funciones
          disponibles
        </p>
      </div>
      <div class="row mb-20">
        <div class="col-md-6 pe-md-10 mb-10 mb-md-0">
          <h1 class="text-gray-800 fw-bolder mb-4">Módulo de Administración</h1>
          <div class="m-0">
            <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
              data-bs-target="#kt_job_4_1">
              <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
              </div>
              <h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">¿Qué es un Listado de Usuarios?</h4>
            </div>
            <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
              <div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
                El Listado de Usuarios muestra todos los usuarios registrados en el sistema. Aquí podrás ver detalles
                como el nombre, apellido y nivel de acceso de cada usuario. También podrás buscar usuarios específicos y
                realizar acciones como la edición de la información personal o la eliminación de usuarios según los
                permisos otorgados. Esta ventana te brinda un control completo sobre los usuarios registrados en el
                sistema.
              </div>
            </div>
            <div class="separator separator-dashed"></div>
          </div>
          <div class="m-0">
            <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
              data-bs-target="#kt_job_4_1">
              <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
              </div>
              <h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">¿Qué es un Catálogo de Sucursales?</h4>
            </div>
            <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
              <div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
                El Catálogo de Sucursales es una sección donde podrás administrar y controlar las diferentes sucursales
                de tu negocio, en caso de tener más de una. Aquí podrás agregar nuevas sucursales, editar la información
                existente y eliminar aquellas que ya no estén en funcionamiento. Esta función te permitirá mantener un
                registro ordenado de tus sucursales y gestionar eficientemente la información relacionada con cada una
                de ellas.
              </div>
            </div>
            <div class="separator separator-dashed"></div>
          </div>
        </div>
        <div class="col-md-6 ps-md-10">
          <h1 class="text-gray-800 fw-bolder mb-4">Módulo de Facturación</h1>
          <div class="m-0">
            <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
              data-bs-target="#kt_job_4_1">
              <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
              </div>
              <h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">¿Qué es un Listado de Factura?</h4>
            </div>
            <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
              <div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
                El Listado de Factura es una ventana que muestra todas las facturas generadas por tu empresa. Aquí
                podrás ver detalles como el número de factura, fecha de emisión, cliente asociado y el monto total de la
                factura. Además, podrás realizar búsquedas y filtrar las facturas según criterios específicos, lo que te
                ayudará a encontrar la información que necesites de manera rápida y eficiente.
              </div>
            </div>
            <div class="separator separator-dashed"></div>
          </div>
        </div>
        <div class="col-md-6 ps-md-10">
          <h1 class="text-gray-800 fw-bolder mb-4">Módulo de Inventario</h1>
          <div class="m-0">
            <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
              data-bs-target="#kt_job_4_1">
              <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
              </div>
              <h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">¿Qué es un Listado de Compras?</h4>
            </div>
            <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
              <div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
                El Listado de Compras es una sección donde podrás ver un resumen de todas las compras realizadas por tu
                empresa. En esta ventana, encontrarás información sobre los proveedores, fechas de compra y montos
                totales. Podrás acceder a los detalles de cada compra, incluyendo los productos o servicios adquiridos,
                y verificar el estado de cada una de ellas.
              </div>
            </div>
            <div class="separator separator-dashed"></div>
          </div>
          <div class="m-0">
            <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
              data-bs-target="#kt_job_4_1">
              <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
              </div>
              <h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">¿Qué es un Catálogo de Productos?</h4>
            </div>
            <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
              <div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
                El Catálogo de Productos es una lista completa de todos los productos disponibles en tu inventario. Aquí
                podrás visualizar detalles como el nombre del producto, descripción, precio, cantidad en existencia,
                entre otros. También podrás agregar nuevos productos, editar la información existente y eliminar
                productos que ya no estén en tu inventario. Este catálogo te ayudará a gestionar de manera eficiente tus
                productos y mantener un control actualizado de tu inventario.
              </div>
            </div>
            <div class="separator separator-dashed"></div>
          </div>
          <div class="m-0">
            <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
              data-bs-target="#kt_job_4_1">
              <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
              </div>
              <h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">¿Qué es un Catálogo de Servicios?</h4>
            </div>
            <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
              <div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
                El Catálogo de Servicios es una sección donde podrás registrar y gestionar los servicios que ofrece tu
                empresa. Aquí podrás agregar nuevos servicios, proporcionando detalles como el nombre, descripción y
                precio. También podrás realizar modificaciones en la información existente y eliminar servicios que ya
                no ofrezcas. Este catálogo te permitirá tener un registro completo de los servicios disponibles y
                facilitará la facturación de los mismos.
              </div>
            </div>
            <div class="separator separator-dashed"></div>
          </div>
          <div class="m-0">
            <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
              data-bs-target="#kt_job_4_1">
              <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
              </div>
              <h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">¿Qué es un Catálogo de Servicios?</h4>
            </div>
            <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
              <div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
                El Catálogo de Servicios es una sección donde podrás registrar y gestionar los servicios que ofrece tu
                empresa. Aquí podrás agregar nuevos servicios, proporcionando detalles como el nombre, descripción y
                precio. También podrás realizar modificaciones en la información existente y eliminar servicios que ya
                no ofrezcas. Este catálogo te permitirá tener un registro completo de los servicios disponibles y
                facilitará la facturación de los mismos.
              </div>
            </div>
            <div class="separator separator-dashed"></div>
          </div>
          <div class="m-0">
            <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
              data-bs-target="#kt_job_4_1">
              <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
              </div>
              <h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">¿Qué es un Catálogo de Categorías?</h4>
            </div>
            <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
              <div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
                El Catálogo de Categorías te permite organizar tus productos en diferentes categorías. Las categorías
                son útiles para clasificar y agrupar tus productos según su tipo, características o cualquier otro
                criterio relevante para tu negocio. Podrás asignar múltiples categorías a un producto y gestionarlas de
                manera flexible. Esto te facilitará la búsqueda y visualización de productos dentro del Catálogo de
                Productos y te ayudará a tener un mejor control sobre tu inventario.
              </div>
            </div>
            <div class="separator separator-dashed"></div>
          </div>
          <div class="m-0">
            <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
              data-bs-target="#kt_job_4_1">
              <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
              </div>
              <h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">¿Qué es un Catálogo de Proveedores?</h4>
            </div>
            <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
              <div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
                El Catálogo de Proveedores te permite ingresar y gestionar la información de los proveedores con los que
                trabajas. Aquí podrás registrar detalles como el nombre del proveedor, dirección de contacto,
                información
                de contacto y otros datos relevantes. Al momento de realizar una compra, podrás seleccionar un proveedor
                de este catálogo para asociarlo a la transacción. Esto te ayudará a mantener un registro de tus
                proveedores y facilitará el proceso de adquisición de productos o servicios.
              </div>
            </div>
            <div class="separator separator-dashed"></div>
          </div>
        </div>
        <div class="col-md-6 ps-md-10">
          <h1 class="text-gray-800 fw-bolder mb-4">Configuración</h1>
          <div class="m-0">
            <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
              data-bs-target="#kt_job_4_1">
              <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
              </div>
              <h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">Configuración de la cuenta</h4>
            </div>
            <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
              <div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
                La Ventana de Configuración de Cuenta de Usuario es una sección personalizada que te permite realizar
                cambios en tu propia cuenta de usuario. Aquí podrás actualizar tu nombre, apellido y contraseña para
                mantener tu información personal actualizada y segura. Esta función te brinda autonomía para gestionar
                tu cuenta y adaptarla a tus necesidades cambiantes.
              </div>
            </div>
            <div class="separator separator-dashed"></div>
          </div>
          <div class="m-0">
            <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse"
              data-bs-target="#kt_job_4_1">
              <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
              </div>
              <h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">Centro de Ayuda</h4>
            </div>
            <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
              <div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
                Para conocer más información del sistema
              </div>
            </div>
            <div class="separator separator-dashed"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
